body {
  background-color: rgba(0, 0, 0, 0.780);
  overflow: scroll;
}

/* Sidebar menu */
.sidenav {
  height: 100%;
  width: 160px; 
  position: fixed; 
  top: 130px;
  left: 0;
  overflow-x: hidden;
  padding-top: 0px;
  background-color: rgb(94, 149, 156);
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(0, 0, 0);;
  display: block;
  top: 300px;
}

.sidenav a:hover {
  color: rgb(83, 81, 173);
}

.main {
  color: white ; 
  top: 120px;
  left : 200px;
  position: relative;
  opacity: 1;
  font: times;
  z-index: 1;
  width: 1000px;
}
.main a {
  color: rgb(0, 238, 255);
}

.main a:visited {
  color: rgb(120, 151, 153);
}

.main a:hover {
  color: rgb(120, 151, 153);
}

.main a:active {
  color: rgb(120, 151, 153);
}

.titleImg { 
      width: auto;  
      max-height: 120px;
      position: fixed;
      z-index: 2;
      overflow-x: hidden;
      top: 0; 
      left: 0;
      }

.bodyImg {
      width: auto;
      max-height:500px;
	}

.footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      text-align: center;
}

.footer a {
  color: rgb(0, 238, 255);
}

.footer a:visited {
  color: rgb(120, 151, 153);
}

.footer a:hover {
  color: rgb(120, 151, 153);
}

.footer a:active {
  color: rgb(120, 151, 153);
}




