body {
  background-color: rgba(0, 0, 0, 0.780);
}
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 130px; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
  background-color: rgb(94, 149, 156);
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(0, 0, 0);;
  display: block;
  top: 300px;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: rgb(83, 81, 173);
}

.main {
  color: white ; 
  top: 120px;
  left : 200px;
  position: fixed;
  opacity: 1;
  font: times;
  width: 1000px;
}

.titleImg { 
      width: auto;  
      max-height: 120px; 
      }

.footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      text-align: center;
}

myLink {
  color: rgb(0, 238, 255);
}

myLink:visited {
  color: rgb(120, 151, 153);
}

myLink:hover {
  color: rgb(120, 151, 153);
}

myLink:active {
  color: rgb(120, 151, 153);
}

